
 
 .main-nav{
    background-color: rgb(83, 198, 216);
    position:fixed;
    top:0;
    left: 0;
    z-index: 8;
    width:100%;
    height:100px;   
    box-shadow: 5px 5px 13px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 13px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 13px 3px rgba(0,0,0,0.75);

 }

 
.brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: crimson;
}
.logo{
    margin-left: 100px;
}
 /* .btn-search{  
    width:130px;
    background-color: rgb(57, 57, 187);
    margin-left:10px;
    border-radius: 8px;
    height:40px;
 }
 @keyframes rotate {
    0%{
      transform: rotateX(0deg);
    }
    25%{
       transform: rotateX(90deg);
    }
    50%{
      transform: rotateX(180deg);
    }
    75%{
       transform: rotateX(360deg);
    }
    100%{
       transform: rotateX(360deg);
    }
  } */
  
 .nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
    font-size: medium;
    font-weight: 400;
    height:40px;
    color: rgb(18, 18, 120);
    background-color: rgb(83, 198, 216);
    border-radius: 8px;
    border-bottom: 3px solid black;
    
 }
 .nav1:hover{
    background-color: rgb(2, 90, 104);
    color: white;
    transform: scale(1.1);
    transition: .5s ease;
 }

 .cart-img{
    width: 60px;
    height: 40px;
 
 }
 .cartno{
   border-radius: 50%;
   float: right; 
   display: flex;
   justify-content: center;
   align-items: center;
   width:20px;
   height: 20px;
   color: white;
   background-color: rgb(38, 38, 115);
 }
 